<!DOCTYPE html>
<html>
  <head>
    <title>RailsPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>
      function loadAbout() {
        const page2 = document.querySelector(".about-body")
        page2.classList.add("load")
      }

      function loadHome() {
        const page1 = document.querySelector(".home-body")
        page1.classList.add("load")
      }


      window.onload = function() {
        activeNav();
        if (window.location.pathname == '/') {
          loadHome();
        } else if (window.location.pathname == '/pages/about')
          loadAbout();
      }
    </script>

  </head>

  <body>
  <div class="container">
    <%= render 'shared/nav_circle' %>
  </div>
    <%= yield %>
  </body>
</html>
